<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>物品管理システム - 物品管理</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Open+Sans" rel="stylesheet" />
    <link href="/css/base.css" th:href="@{/css/base.css}" rel="stylesheet" />
</head>
<body style="padding-top: 70px">

<!-- menu -->
<div th:replace="/fragments/menu :: menu(target = 'item')"></div>
<!-- end of menu -->

<!-- main container -->
<div class="container"><br/>
    <div class="header clearfix">
        <h3 class="text-muted">
            <i class="fas fa-boxes"></i> 物品管理
        </h3>
    </div>

    <hr/>

    <!-- status -->
    <div class="alert alert-success" th:if="${isRegistered}" th:text="${isRegistered}" role="alert"></div>
    <div class="alert alert-warning" th:if="${formWarning}" th:text="${formWarning}" role="alert"></div>
    <div class="alert alert-danger" th:if="${formError}" th:text="${formError}" role="alert"></div>
    <!-- end of status -->

    <h5>入力フォーム</h5>
    <div class="container">
        <!-- CSRFトークンを埋め込むのに必要 th:action="@{/item/confirm}" -->
        <!-- CSRFトークンがないと、Request method 'POST' not supportedとエラーになる -->
        <form method="post" action="/item/list" th:action="@{/item/list}" th:object="${itemForm}">
            <div class="form-row">
                <div class="form-group">
                    <label for="catId">カタログID&nbsp;
                        <i class="fas fa-question-circle" data-placement="right" data-toggle="tooltip" data-original-title="一意となる商品コードを入力してください。"></i>
                    </label>
                    <input class="form-control" th:classappend="${#fields.hasErrors('catId')} ? 'is-invalid'" type="text" id="catId" size="40" placeholder="例）1234567" th:field="*{catId}"/>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('catId')}">カタログIDは1～50文字で入力してください。</small>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="catId">物品名&nbsp;
                        <i class="fas fa-question-circle" data-placement="right" data-toggle="tooltip" data-original-title="商品名を400文字以内で入力してください。"></i>
                    </label>
                    <input class="form-control" th:classappend="${#fields.hasErrors('itemName')} ? 'is-invalid'" type="text" id="itemName" size="40" placeholder="例）トイレットペーパー" th:field="*{itemName}"/>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('itemName')}">物品名は1～400文字で入力してください。</small>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="catId">価格&nbsp;
                        <i class="fas fa-question-circle" data-placement="right" data-toggle="tooltip" data-original-title="商品の価格を入力してください。"></i>
                    </label>
                    <input class="form-control" th:classappend="${#fields.hasErrors('price')} ? 'is-invalid'" type="text" id="price" size="40" placeholder="例）1200" th:field="*{price}"/>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('price')}">価格は1～10,000,000円の数字で入力してください。</small>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">登録する</button>
            <button type="reset" class="btn btn-light">リセット</button>
        </form>
    </div>

    <br/>
    <hr/>

    <!-- status -->
    <div class="alert alert-success" th:if="${isDeleted}" th:text="${isDeleted}" role="alert"></div>
    <div class="alert alert-danger" th:if="${isNotChecked}" th:text="${isNotChecked}" role="alert"></div>
    <div class="alert alert-danger" th:if="${deleteError}" th:text="${deleteError}" role="alert"></div>
    <!-- end of status -->

    <h5>物品一覧</h5>
    <div class="table-responsive">
        <form method="post" action="/item/delete" th:action="@{/item/delete}">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger btn-sm" style="margin-left: 10px" data-toggle="modal" data-target="#exampleModal">
                            削除
                        </button>
                    </th>
                    <th class="align-middle">物品ID</th>
                    <th class="align-middle">カタログID</th>
                    <th class="align-middle">物品名</th>
                    <th class="align-middle">価格</th>
                    <th class="align-middle">作成日</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}">
                    <td class="align-middle">
                        <label class="customcheck">
                            <input type="checkbox" class="checkbox align-middle" name="itemIds" th:value="${item.itemId}" />
                            <span class="checkmark"></span>
                        </label>
                    </td>
                    <td th:text="${item.itemId}" class="align-middle"></td>
                    <td th:text="${item.catId}" class="align-middle"></td>
                    <td th:text="${item.itemName}" class="align-middle"></td>
                    <td th:text="'￥' + ${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'POINT')}" class="align-middle"></td>
                    <td th:text="${item.createDate}" class="align-middle"></td>
                    <td>
                        <a class="btn btn-primary btn-sm" th:href="@{/item/edit(itemId=${item.itemId})}">
                            更新
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">確認</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            選択した物品を削除してもよろしいですか？
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                            <button type="submit" class="btn btn-danger">削除</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of modal-->
        </form>
    </div>
</div>
<!-- end of main container -->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:href="@{/webjars/font-awesome/js/all.js}"></script>
<script>
    $('a').tooltip();
    $('i').tooltip();
</script>
</body>
</html>