<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>物品管理システム - 物品情報の更新</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Open+Sans" rel="stylesheet"/>
    <link href="/css/base.css" th:href="@{/css/base.css}" rel="stylesheet" />
</head>
<body style="padding-top: 70px">
<!-- menu -->
<div th:replace="/fragments/menu :: menu(target = 'user')"></div>
<!-- end of menu -->

<!-- main container -->
<div class="container"><br/>
    <div class="header clearfix">
        <h3 class="text-muted">
            <i class="fas fa-users"></i> ユーザ管理
        </h3>
    </div>

    <hr/>

    <!-- status -->
    <div class="alert alert-danger" th:if="${formError}" th:text="${formError}" role="alert"></div>
    <!-- end of status -->

    <h5>ユーザ情報の更新</h5>
    <div class="container">
        <form method="post" action="/user/save" th:action="@{/user/save}" th:object="${userForm}">
            <input type="hidden" name="userId" th:value="*{userId}"/>
            <input type="hidden" name="password" th:value="*{password}"/>
            <input type="hidden" name="passwordConfirmation" th:value="*{passwordConfirmation}"/>
            <input type="hidden" name="version" th:value="*{version}"/>

            <div class="form-row">
                <div class="form-group">
                    <label for="userName">ユーザ名&nbsp;
                        <i class="fas fa-question-circle" data-placement="right" data-toggle="tooltip" data-original-title="ユーザ名を入力してください。"></i>
                    </label>
                    <input class="form-control" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'" type="text" id="userName" size="40" placeholder="例）imamachi" th:field="*{username}"/>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('username')}">ユーザ名は1～50文字で入力してください。</small>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="email">メールアドレス&nbsp;
                        <i class="fas fa-question-circle" data-placement="right" data-toggle="tooltip" data-original-title="メールアドレスを入力してください。"></i>
                    </label>
                    <input class="form-control" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" type="text" id="email" size="40" placeholder="例）imamachi@exmaple.com" th:field="*{email}"/>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}">正しいメールアドレスを入力してください。</small>
                </div>
            </div>

            <div class="form-row form-group">
                <div class="col-2 pl-0">
                    <label for="lastName">氏&nbsp;
                        <i class="fas fa-question-circle" data-placement="right" data-toggle="tooltip" data-original-title="名字を入力してください。"></i>
                    </label>
                    <input class="form-control" th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'" type="text" id="lastName" size="40" placeholder="例）山田" th:field="*{lastName}"/>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('lastName')}">名字を入力してください。</small>
                </div>

                <div class="col-2">
                    <label for="firstName">名&nbsp;
                        <i class="fas fa-question-circle" data-placement="right" data-toggle="tooltip" data-original-title="名前を入力してください。"></i>
                    </label>
                    <input class="form-control" th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'" type="text" id="firstName" size="40" placeholder="例）太郎" th:field="*{firstName}"/>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('firstName')}">名前を入力してください。</small>
                </div>
            </div>

            <div class="form-row form-group">
                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="auth"  th:field="*{isAdmin}">
                    <label class="custom-control-label" for="auth">管理者権限を付与する</label>
                </div>
            </div>

            <button type="submit" name="submit" class="btn btn-primary" value="submit">登録する</button>
            <button type="submit" name="submit" class="btn btn-light" value="cancel">キャンセル</button>
        </form>
    </div>
</div>
<!-- end of main container -->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:href="@{/webjars/font-awesome/js/all.js}"></script>
<script>
    $('a').tooltip();
    $('i').tooltip();
</script>
</body>
</html>