<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>物品管理システム - ユーザ管理</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Open+Sans" rel="stylesheet"/>
    <link href="/css/base.css" th:href="@{/css/base.css}" rel="stylesheet" />
</head>
<body style="padding-top: 70px">

<!-- menu -->
<div th:replace="fragments/menu :: menu(target = 'user')"></div>
<!-- end of menu -->

<!-- main container -->
<div class="container"><br/>
    <div class="header clearfix">
        <h3 class="text-muted">
            <i class="fas fa-users"></i> ユーザ管理
        </h3>
    </div>

    <hr/>

    <!-- status -->
    <div class="alert alert-success" th:if="${isRegistered}" th:text="${isRegistered}" role="alert"></div>
    <div class="alert alert-danger" th:if="${formError}" th:text="${formError}" role="alert"></div>
    <!-- end of status -->

    <h5>入力フォーム</h5>
    <div class="container">
        <form method="post" action="/user/list" th:action="@{/user/list}" th:object="${userForm}">
            <div class="form-row">
                <div class="form-group">
                    <label for="userName">ユーザ名&nbsp;
                        <i class="fas fa-question-circle" data-placement="right" data-toggle="tooltip" data-original-title="ユーザ名を入力してください。"></i>
                    </label>
                    <input class="form-control" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'" type="text" id="userName" size="40" placeholder="例）1234567" th:field="*{username}"/>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('username')}">カタログIDは1～50文字で入力してください。</small>
                </div>
            </div>
        </form>
    </div>

    <br/>
    <hr/>

    <h5>物品一覧</h5>
    <div class="table-responsive">
    </div>

</div>
<!-- end of main container -->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:href="@{/webjars/font-awesome/js/all.js}"></script>
<script>
    $('a').tooltip();
</script>
</body>
</html>