<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>物品管理システム - ユーザ管理</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Open+Sans" rel="stylesheet"/>
    <link href="/css/base.css" th:href="@{/css/base.css}" rel="stylesheet" />
</head>
<body style="padding-top: 70px">

<!-- menu -->
<div th:replace="fragments/menu :: menu(target = 'user')"></div>
<!-- end of menu -->

<!-- main container -->
<div class="container"><br/>
    <div class="header clearfix">
        <h3 class="text-muted">
            <i class="fas fa-users"></i> ユーザ管理
        </h3>
    </div>

    <hr/>
</div>
<!-- end of main container -->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:href="@{/webjars/font-awesome/js/all.js}"></script>
<script>
    $('a').tooltip();
</script>
</body>
</html>