<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>物品管理システム - カート</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Open+Sans" rel="stylesheet"/>
    <style>
        body {
            font-family: 'Open Sans', 'Kosugi Maru';
            font-weight: 400;
        }
    </style>
</head>
<body style="padding-top: 70px">
<!-- menu -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"  id="navbarToggleExternalContent">
    <a class="navbar-brand" href="/home">物品管理システム</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mx-1">
                <a class="nav-link" href="/home">
                    <i class="fas fa-home fa-lg"></i> ホーム
                    <span class="sr-only"></span>
                </a>
            </li>

            <li class="nav-item mx-1">
                <a class="nav-link" href="/search/list">
                    <i class="fas fa-search fa-lg"></i> 検索
                </a>
            </li>

            <li class="nav-item mx-1">
                <a class="nav-link" href="/history/list">
                    <i class="fas fa-history fa-lg"></i> 購入履歴
                </a>
            </li>

            <li class="nav-item mx-1">
                <a class="nav-link" href="/item/list">
                    <i class="fas fa-boxes fa-lg"></i> 物品管理
                </a>
            </li>

            <li class="nav-item mx-1">
                <a class="nav-link" href="/user/list">
                    <i class="fas fa-users fa-lg"></i> ユーザ管理
                </a>
            </li>
        </ul>

        <ul class="navbar-nav navbar-right">
            <li class="nav-item mx-1">
                <form  method="post" action="/search/list" th:action="@{/search/list}" th:object="${item}" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="物品名を入力" aria-label="Search"  th:field="*{itemName}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                        <i class="fas fa-search"></i> 検索
                    </button>
                </form>
            </li>
        </ul>

        <ul class="navbar-nav navbar-right">
            <li class="nav-item mx-2 active">
                <a class="nav-link" href="#">
                    <i class="fas fa-shopping-cart fa-2x"></i>[[${cartTotal} ? ${cartTotal} : 0]]
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- end of menu -->

<!-- main container -->
<div class="container"><br/>
    <div class="header clearfix">
        <h3 class="text-muted">
            <i class="fas fa-shopping-cart"></i> カート
        </h3>
    </div>

    <hr/>

    <!-- search area -->
    <div class="row justify-content-center">

    </div>
    <!-- end of search area -->


</div>
<!-- end of main container -->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:href="@{/webjars/font-awesome/js/all.js}"></script>
</body>
</html>