<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>物品管理システム - トップページ</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Open+Sans" rel="stylesheet"/>
    <link href="/css/base.css" th:href="@{/css/base.css}" rel="stylesheet" />
</head>
<body style="padding-top: 70px">

<!-- menu -->
<div th:replace="fragments/menu :: menu(target = 'home')"></div>
<!-- end of menu -->

<!-- main container -->
<div class="container"><br/>
    <!-- jumbotron -->
    <div class="jumbotron">
        <h1 class="display-4">物品管理にお困りですか？</h1>
        <p class="lead">物品管理システムを使って購入する物品を管理しましょう。</p>
        <hr class="my-4">
        <p>まずは物品を購入してみましょう。</p>
        <a class="btn btn-primary btn-lg" href="/search/list" role="button">物品購入へ→</a>
    </div>
    <!-- end of jumbotron -->

    <div class="header clearfix">
        <h3 class="text-muted">
            <i class="fas fa-shopping-basket"></i> 過去の購入商品
        </h3>
    </div>

    <!-- status -->
    <div class="alert alert-success" th:if="${isAdded}" th:text="${isAdded}" role="alert"></div>
    <!-- end of status -->

    <!-- item list -->
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3" th:each="history, row : ${histories}">
            <form method="post" action="/home/add" th:action="@{/home/add}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${history.item.itemName}"></h5>
                        <p class="card-text text-danger" th:text="'￥' + ${#numbers.formatDecimal(history.item.price, 0, 'COMMA', 0, 'POINT')}"></p>
                    </div>
                    <div class="card-footer">
                        <input type="hidden" name="itemId" th:value="${history.item.itemId}" />
                        <input type="hidden" name="itemName" th:value="${history.item.itemName}" />
                        <button class="btn btn-primary">カートに入れる</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- end of item list -->

    <hr/>

</div>
<!-- end of main container -->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:href="@{/webjars/font-awesome/js/all.js}"></script>
<script>
    $('a').tooltip();
</script>
</body>
</html>